body{
    margin: 0;
    min-height: 100vh;
}

#header{
  background-color: #b0d0eb;
  width: 100%;
  padding: 2em;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f2f2f2;
}

h1{
  font-size: 3em;
}


h1, h2, h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #f2f2f2;
}

#sidebar{
  background-color: #a662be;
  padding: 20px;
  border-right: 5px #b0d0eb solid;
  border-bottom: 5px #b0d0eb solid;
  white-space: nowrap;
}

nav{
  overflow: auto;
}

nav ul{
  list-style-type: none;
  padding: 1em;
}

nav ul li{
  margin-bottom: 10px;
}

a:hover{
  color: rgb(255, 105, 180);

}

nav ul li a{
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#main{
  padding: 2em;
  background-color: #505050;
  width: 100%;
}

#footer{
  padding: 3em;
  display: flex;
  background-color: #28282B;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer img{
  width: 5em;
  height: 5em;
  margin: 0.5em;
}

.tc-logo{
  width: 10em;
  height: 10em;
}

.logotype{
  width: 20em;
  height: 10em;
  margin-left: 1em;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.card{
    background-color: #b6b6b6;
    margin: 1em;
}

.card-body{
    background-color: #919191;
}

.comment-section{
    background-color: #b6b6b6;
}

.profiles{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
